<ul class="social">
    <li class="social__facebook">
        <a href="{{ site.facebook_user }}" title="Designlabben på Facebook">
            <span>Facebook</span>
        </a>
    </li>
    <li class="social__instagram">
        <a href="https://www.instagram.com/designlabben/" title="Designlabben på Instagram">
            <span>Instagram</span>
        </a>
    </li>
    <li class="social__email">
        <a href="mailto:{{ site.email }}" title="Community Manager Hans Kristian">
            <span>Epost</span>
        </a>
    </li>
</ul>